{% extends "core/model-page.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h5 class="text-center">
  {% if 'create' in request.path %} CADASTRAR FORNECEDOR {% endif %} 
  {% if 'update' in request.path %} EDITAR FORNECEDOR {% endif %}
</h5>
<form method="POST" autocomplete="off">{% csrf_token %}
  <div class="row">
    <div class="col-md-4">
      {{ form.company|as_crispy_field }}
    </div>
    <div class="col-md-4">
      {{ form.phone|as_crispy_field }}
    </div>
    <div class="col-md-4">
      {{ form.email|as_crispy_field }}
    </div>
    <div class="col-md-6">
      {{ form.address|as_crispy_field }}
    </div>
  </div>
  <a class="btn btn-outline-primary" href="{% url 'provider:main' %}">VOLTAR</a>
  <button class="btn btn-primary">SALVAR</button>
</form>
{% endblock %}