{% extends "core/model-page.html" %}

{% block content %}
<h5 class="text-center">DASHBOARD</h5>
<div class="row">
  <div class="col-lg-3 mb-3">
    <div class="card">
      <div class="card-header text-center bg-dark text-white">
        TOTAL DE PRODUTOS
      </div>
      <div class="card-body bg-info text-white text-center">
        <h5>{{ product_quantity }}</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-3">
    <div class="card">
      <div class="card-header text-center bg-dark text-white">
        TOTAL DE FORNECEDORES
      </div>
      <div class="card-body bg-info text-white text-center">
        <h5>{{ provider_quantity }}</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-3">
    <div class="card">
      <div class="card-header text-center bg-dark text-white">
        TOTAL DE LOJAS
      </div>
      <div class="card-body bg-info text-white text-center">
        <h5>{{ store_quantity }}</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-3">
    <div class="card">
      <div class="card-header text-center bg-dark text-white">
        CUSTO TOTAL
      </div>
      <div class="card-body bg-info text-white text-center">
        <h5>{{ total_cost }}</h5>
      </div>
    </div>
  </div>
</div>
{% endblock %}