{% extends "core/model-page.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h5 class="text-center">
  {% if 'create' in request.path %} CADASTRAR PRODUTO {% endif %} 
  {% if 'update' in request.path %} EDITAR PRODUTO {% endif %}
</h5>
<form method="POST" autocomplete="off">{% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      {{ form.code|as_crispy_field }}
    </div>
    <div class="col-md-6">
      {{ form.item|as_crispy_field }}
    </div>
    <div class="col-md-6">
      {{ form.unit_of_measure|as_crispy_field }}
    </div>
    <div class="col-md-6">
      {{ form.level_minimum|as_crispy_field }}
    </div>
    <div class="col-md-6">
      {{ form.cost_unit|as_crispy_field }}
    </div>
    <div class="col-md-6">
      {{ form.price_unit|as_crispy_field }}
    </div>
  </div>
  <a class="btn btn-outline-primary" href="{% url 'product:index' %}">VOLTAR</a>
  <button class="btn btn-primary">SALVAR</button>
</form>
{% endblock %}