{% extends "core/model-page.html" %}

{% block content %}
{% csrf_token %}
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
{% endif %}
<div id="message-ajax"></div>
<div class="table-responsive p-1">
  <h5 class="text-center">PRODUTOS</h5>
  <a class="btn btn-primary mb-3" href="{% url 'product:create' %}"><i class="fas fa-plus-circle fa-lg"></i></a>
  <table id="table" class="table table-striped table-bordered text-center">
    <thead class="thead-dark">
      <tr>
        <th class="all">Item</th>
        <th class="min-tablet">Código do Produto</th>
        <th class="min-desktop">Unidade de Medida</th>
        <th class="min-desktop">Estoque Mínimo</th>
        <th class="min-desktop">Estoque Máximo</th>
        <th class="all">"</th>
      </tr>
    </thead>
  </table>
</div>
<div id="modal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header"></div>
          <div class="modal-footer"></div>
      </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  const cookie = document.cookie
  const csrf_token = cookie.split("=")[1]

  const table = $('#table').DataTable( {
    "responsive": true,
    "autoWidth": false,
    "columnDefs": [{
    "targets": [ 5 ],
    "orderable": false
    }],
    "ajax": {
      "method": "POST",
      "url": "{% url 'product:list' %}",
      "headers": {
        "X-CSRFToken": csrf_token,
      }
    },
    "columns": [
        {"data":"Item"},
        {"data":"Código do Produto"},
        {"data":"Unidade de Medida"},
        {"data":"Estoque Mínimo"},
        {"data":"Estoque Máximo"},
        {"data":""}
    ],
    "lengthMenu": [[5, 10, 15], [5, 10, 15]],
    "language": {
        "infoFiltered":   "(filtrado do total de _MAX_ registros)",
        "infoEmpty":      "Mostrando 0 até 0 de 0 registros",
        "zeroRecords": "Nenhum registro correspondente encontrado",
        "loadingRecords": "Carregando...",
        "lengthMenu": "_MENU_ registros por página",
        "info": "Mostrando _START_ até _END_ de _TOTAL_ registros",
        "search": "Pesquisar",
        "paginate": {
        "next":  "›",
        "previous": "‹"
        }
    },
  });

  const deleteProductModal = (id, item) => {
    $('#modal').modal('show')
    $('#modal').find('.modal-header').html(`<h5>Deseja realmente deletar o produto <strong class="text-danger">${item}</strong> ?</h5>`)
    $('#modal').find('.modal-footer').html(`<button class="btn btn-outline-secondary" onclick="closeModal()">Não</button> <button class="btn btn-primary" onclick="deleteProduct('${id}')">Sim</button>`)
  }

  const closeModal = () => {
    $('#modal').modal('hide')
    $('#modal').find('.modal-header').html('')
    $('#modal').find('.modal-footer').html('')
  }

  const deleteProduct = (id) => {
    $.ajax ({
      "method": "POST",
      "url": "{% url 'product:delete' %}",
      "headers": {
        "X-CSRFToken": csrf_token,
      },
      "data": {"id": id},
      success: function(response) {
        table.row(`#row_${id}`).remove().draw(false);
        closeModal()
        $("#message-ajax").html(`
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          ${response.message}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>`)
      }
    })
  }
</script>
{% endblock %}
