{% extends "core/model-page.html" %}

{% block content %}
<h5 class="text-center">DASHBOARD</h5>
<div class="row">
  <div class="col-lg-3 mb-3">
    <div class="card">
      <div class="card-header text-center bg-dark text-white">
        TOTAL DE PRODUTOS
      </div>
      <div class="card-body bg-info text-white text-center">
        <h5>{{ total_product }}</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-3">
    <div class="card">
      <div class="card-header text-center bg-dark text-white">
        TOTAL DE FORNECEDORES
      </div>
      <div class="card-body bg-info text-white text-center">
        <h5>{{ total_provider }}</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-3">
    <div class="card">
      <div class="card-header text-center bg-dark text-white">
        TOTAL DE LOJAS
      </div>
      <div class="card-body bg-info text-white text-center">
        <h5>{{ total_store }}</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-3">
    <div class="card">
      <div class="card-header text-center bg-dark text-white">
        QTD. PRODUTOS EM ESTOQUE
      </div>
      <div class="card-body bg-info text-white text-center">
        <h5>{{ total_product_in_stock }}</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-3">
    <div class="card">
      <div class="card-header text-center bg-dark text-white">
        RECEITA TOTAL
      </div>
      <div class="card-body bg-info text-white text-center">
        <h5>{{ total_revenue }}</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-3">
    <div class="card">
      <div class="card-header text-center bg-dark text-white">
        CUSTO TOTAL
      </div>
      <div class="card-body bg-info text-white text-center">
        <h5>{{ total_cost }}</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-3">
    <div class="card">
      <div class="card-header text-center bg-dark text-white">
        LUCRO TOTAL
      </div>
      <div class="card-body bg-info text-white text-center">
        <h5>{{ total_profit }}</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-3">
    <div class="card">
      <div class="card-header text-center bg-dark text-white">
        MARGEM % LUCRO
      </div>
      <div class="card-body bg-info text-white text-center">
        <h5>{{ profit_margin }}</h5>
      </div>
    </div>
  </div>
</div>
{% endblock %}