{% extends "core/model-page.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height:75vh">
  <div class="card">
    <div class="card-header">
      <h5 class="text-center">CRM - LOGOUT</h5>
    </div>
    <div class="card-body text-center">
        <h3>Sessão encerrada !</h3>
        <h5>Obrigado por visitar nosso Sistema hoje.</h5>
        <a href="{% url 'profile:login' %}">
            <button class="btn btn-success">ACESSAR NOVAMENTE</button>
        </a>
    </div>
  </div>
</div>
{% endblock %}