{% extends "core/model-page.html" %}
{% load crispy_forms_tags %}
{% load useravatar_tags %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height:75vh">
  <div class="card">
    <div class="card-header">
      <h5 class="text-center">PERFIL</h5>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column justify-content-center align-items-center">
            Usuário: {{ request.user }}
            <img src="{{ request.user|user_avatar }}" class="avatar my-3">
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">SALVAR</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}